body {
    font-family: 'Jua', sans-serif;
    margin: 0;
    cursor: default;
    background-color: white;
}

a {
    text-decoration: none;
    color: #603813;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-options {
    display: flex;
    justify-content: space-around;
}

label {
    display: flex;
    align-items: center;
}

input {
    width: 300px;
    padding: 10px;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="radio"] {
    width: 10px;
}

small {
    text-align: center;
    padding-left: 10px;
    color: #ffc837;
}

.btn-wrap {
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    padding: 10px;
    margin: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.4s ease-in;
    z-index: 1;
}

button::before,
button::after {
    background: #ff96ad;
    content: "";
    z-index: -1;
}

.btn:hover {
    border: 2px solid #ff96ad;
    color: #ff96ad;
    background-color: #17181c;
}

.teamLogo {
    width: 70px;
    height: 70px;
}

.title .color-a {
    color: #D6A4A4;
}

#sign_out,
#sign_up {
    display: none;
}

